{% extends 'base.html' %}


{% block content %}

<section class="section-conten padding-y bg" style="margin-top: 10%;">

<div class="container mt-3">
	<div class="row">
	<main class="col-md-6">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Customize Your Profile</strong>

		</header>
		<div class="card-body">

			<div class="row">
			<div class="col-md-8">
				<form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>First Name</label>
							{{user_form.first_name}}
						</div>
						<div class="form-group col-md-6">
							<label>Last Name</label>
							{{user_form.last_name}}
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>Phone Number</label>
							{{user_form.phone_number}}
						</div>
						<div class="form-group col-md-6">
							<label>Profile Picture</label>
							{{profile_form.profile_picture}}
						</div>
					</div>
					<div class="form-group">
						<label>Address Line 1</label>
						{{profile_form.address_line_1}}
					</div>
					<div class="form-group">
						<label>Address Line 2</label>
						{{profile_form.address_line_2}}
					</div>
					<div class="form-row">
						<div class="form-group col-md-4">
							<label>City</label>
							{{profile_form.city}}
						</div>
						<div class="form-group col-md-4">
							<label>State</label>
							{{profile_form.state}}
						</div>
						<div class="form-group col-md-4">
							<label>Country</label>
							{{profile_form.country}}
						</div>
					</div>
					<input type="submit" value="Save" class="btn btn-primary">
				</form>
			</div>

			</div> 
		</div> 

		</article> 

	</main>
	<div class="col-md-4">
		<img src="{{userprofile.profile_picture.url}}" alt="Profile Picture" width="300" style="border-radius:50px;">
		<h2 style="color: black;font-size: 27px;">* Username: {{user.username}}</h2>
		<h2 style="color: black;font-size: 27px;">* First Name: {{user.first_name}}</h2>
		<h2 style="color: black;font-size: 27px;">* Last Name: {{user.last_name}}</h2>
		<h2 style="color: black;font-size: 27px;">* Phone Number: {{user.phone_number}}</h2>
		<h2 style="color: black;font-size: 27px;">* City: {{userprofile.city}}</h2>
		<h2 style="color: black;font-size: 27px;">* Country: {{userprofile.country}}</h2>
		<h2 style="color: black;font-size: 27px;">* State: {{userprofile.state}}</h2>
		<h2 style="color: black;font-size: 27px;">* Adress 1: {{userprofile.address_line_1}}</h2>
		<h2 style="color: black;font-size: 27px;">* Adress 2: {{userprofile.address_line_2}}</h2>
		
	</div>
</div> 
</div>


</section>

{% endblock %}
