<nav class="nav">
    <div class="container-site">

        <h1 class="logo"><a href="{% url 'home' %}">Award</a></h1>
       <form action="uploading/search/">
        <div class="search">
            <input type="text" class="input" name="search" placeholder="search....">
        </div>
       </form>
       
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'createpost' %}">Present Your Project</a></li>
            <a href="{% url 'edit_profile' %}">Welcome {{user.username}}</a>
            <a href="{% url 'singleview' %}">Projects</a>
            <li><a href="{% url 'logout' %}">Logout</a></li>
{% else %}
<li><a href="login" class="currents">Login</a></li>
{% endif %}
        </ul>
        
    

    </div>
</nav>